<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#S03-T05-Exploració-de-les-dades" data-toc-modified-id="S03-T05-Exploració-de-les-dades-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>S03 T05 Exploració de les dades</a></span></li><li><span><a href="#Descripció" data-toc-modified-id="Descripció-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Descripció</a></span><ul class="toc-item"><li><span><a href="#Nivell-1" data-toc-modified-id="Nivell-1-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Nivell 1</a></span><ul class="toc-item"><li><span><a href="#Exercici-1" data-toc-modified-id="Exercici-1-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Exercici 1</a></span></li><li><span><a href="#Exercici-2" data-toc-modified-id="Exercici-2-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Exercici 2</a></span><ul class="toc-item"><li><span><a href="#Resumeix-estadísticament-les-columnes-d’interès" data-toc-modified-id="Resumeix-estadísticament-les-columnes-d’interès-2.1.2.1"><span class="toc-item-num">2.1.2.1&nbsp;&nbsp;</span>Resumeix estadísticament les columnes d’interès</a></span></li><li><span><a href="#Troba-quantes-dades-faltants-hi-ha-per-columna" data-toc-modified-id="Troba-quantes-dades-faltants-hi-ha-per-columna-2.1.2.2"><span class="toc-item-num">2.1.2.2&nbsp;&nbsp;</span>Troba quantes dades faltants hi ha per columna</a></span></li><li><span><a href="#Crea-columnes-noves-(velocitat-mitjana-del-vol,-si-ha-arribat-tard-o-no...)" data-toc-modified-id="Crea-columnes-noves-(velocitat-mitjana-del-vol,-si-ha-arribat-tard-o-no...)-2.1.2.3"><span class="toc-item-num">2.1.2.3&nbsp;&nbsp;</span>Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)</a></span></li><li><span><a href="#Taula-de-les-aerolínies-amb-més-endarreriments-acumulats" data-toc-modified-id="Taula-de-les-aerolínies-amb-més-endarreriments-acumulats-2.1.2.4"><span class="toc-item-num">2.1.2.4&nbsp;&nbsp;</span>Taula de les aerolínies amb més endarreriments acumulats</a></span></li><li><span><a href="#Quins-són-els-vols-més-llargs?" data-toc-modified-id="Quins-són-els-vols-més-llargs?-2.1.2.5"><span class="toc-item-num">2.1.2.5&nbsp;&nbsp;</span>Quins són els vols més llargs?</a></span></li><li><span><a href="#I-els-més-endarrerits?" data-toc-modified-id="I-els-més-endarrerits?-2.1.2.6"><span class="toc-item-num">2.1.2.6&nbsp;&nbsp;</span>I els més endarrerits?</a></span></li></ul></li><li><span><a href="#Exercici-3" data-toc-modified-id="Exercici-3-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Exercici 3</a></span></li></ul></li></ul></li></ul></div>

# S03 T05 Exploració de les dades

# Descripció
* Familiaritza't amb les tècniques d'exploració de les dades mitjantçant la estructura de dades, Dataframe amb la llibreria Pandas.

## Nivell 1

### Exercici 1
* Descarrega el data set Airlines Delay: Airline on-time statistics and delay causes i carrega’l a un pandas Dataframe. Explora les dades que conté, i queda’t únicament amb les columnes que consideris rellevants.

In [1]:
import pandas as pd
air_df = pd.read_csv("..\DS Python Projects\data\S3_data\DelayedFlights.csv")
air_df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [2]:
air_info_df = pd.DataFrame(air_df.info())

air_info_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 30 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   Year               int64
 2   Month              int64
 3   DayofMonth         int64
 4   DayOfWeek          int64
 5   DepTime            float64
 6   CRSDepTime         int64
 7   ArrTime            float64
 8   CRSArrTime         int64
 9   UniqueCarrier      object
 10  FlightNum          int64
 11  TailNum            object
 12  ActualElapsedTime  float64
 13  CRSElapsedTime     float64
 14  AirTime            float64
 15  ArrDelay           float64
 16  DepDelay           float64
 17  Origin             object
 18  Dest               object
 19  Distance           int64
 20  TaxiIn             float64
 21  TaxiOut            float64
 22  Cancelled          int64
 23  CancellationCode   object
 24  Diverted           int64
 25  CarrierDelay       float64
 26  WeatherDelay       float64
 27  NASDelay           float64
 28  SecurityDelay      float64
 29  LateAircraftDelay  float64
dtypes: float64(14), int64(11), object(5)
memory usage: 443.3+ MB

Empty DataFrame
Columns: []
Index: []

In [3]:
air_columns_df = pd.DataFrame(air_df.columns)
air_columns_df
#print (type(air_columns_df))

                    0
0          Unnamed: 0
1                Year
2               Month
3          DayofMonth
4           DayOfWeek
5             DepTime
6          CRSDepTime
7             ArrTime
8          CRSArrTime
9       UniqueCarrier
10          FlightNum
11            TailNum
12  ActualElapsedTime
13     CRSElapsedTime
14            AirTime
15           ArrDelay
16           DepDelay
17             Origin
18               Dest
19           Distance
20             TaxiIn
21            TaxiOut
22          Cancelled
23   CancellationCode
24           Diverted
25       CarrierDelay
26       WeatherDelay
27           NASDelay
28      SecurityDelay
29  LateAircraftDelay

In [4]:
air_redu_df = air_df[['Year', 'Month', 'UniqueCarrier','FlightNum', 'AirTime', 'ArrDelay', 'Origin', 'Dest',
                        'Distance', 'Cancelled', 'Diverted','CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay']]
air_redu_df.head()

,Year,Month,UniqueCarrier,FlightNum,AirTime,ArrDelay,Origin,Dest,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay
0,2008,1,WN,335,116.0,-14.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN
1,2008,1,WN,3231,113.0,2.0,IAD,TPA,810,0,0,NaN,NaN,NaN,NaN
2,2008,1,WN,448,76.0,14.0,IND,BWI,515,0,0,NaN,NaN,NaN,NaN
3,2008,1,WN,3920,77.0,34.0,IND,BWI,515,0,0,2.0,0.0,0.0,0.0
4,2008,1,WN,378,87.0,11.0,IND,JAX,688,0,0,NaN,NaN,NaN,NaN

### Exercici 2
* Fes un informe complet del data set:
    * Resumeix estadísticament les columnes d’interès
    * Troba quantes dades faltants hi ha per columna
    * Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)
    * Taula de les aerolínies amb més endarreriments acumulats
    * Quins són els vols més llargs? I els més endarrerits?
    * Etc.

#### Resumeix estadísticament les columnes d’interès

In [5]:
air_redu_info_df = pd.DataFrame(air_redu_df.info())
air_redu_info_df
#print(type(air_redu_info_df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1936758 entries, 0 to 1936757
Data columns (total 15 columns):
 #   Column         Dtype
---  ------         -----
 0   Year           int64
 1   Month          int64
 2   UniqueCarrier  object
 3   FlightNum      int64
 4   AirTime        float64
 5   ArrDelay       float64
 6   Origin         object
 7   Dest           object
 8   Distance       int64
 9   Cancelled      int64
 10  Diverted       int64
 11  CarrierDelay   float64
 12  WeatherDelay   float64
 13  NASDelay       float64
 14  SecurityDelay  float64
dtypes: float64(6), int64(6), object(3)
memory usage: 221.6+ MB

Empty DataFrame
Columns: []
Index: []

In [6]:
#Using describe() on an entire DataFrame we can get a summary of the
#distribution of continuous variables:
#air_df_Modicat.describe()
air_redu_desc_df = air_redu_df['ArrDelay'].describe()
air_redu_desc_df

count    1.928371e+06
mean     4.219988e+01
std      5.678472e+01
min     -1.090000e+02
25%      9.000000e+00
50%      2.400000e+01
75%      5.600000e+01
max      2.461000e+03
Name: ArrDelay, dtype: float64

In [7]:
# Relationships between continuous variables
# By using the correlation method .corr() we can generate the relationship
# between each continuous variable:
air_redu_correl_df = air_redu_df.corr()
air_redu_correl_df

,Year,Month,FlightNum,AirTime,ArrDelay,Distance,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay
Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Month,NaN,1.000000,-0.000188,0.000860,-0.000897,0.005498,0.028837,0.006467,0.000420,0.006611,0.011441,-0.003066
FlightNum,NaN,-0.000188,1.000000,-0.341250,0.061266,-0.356770,0.009147,-0.002885,0.055712,0.067488,0.015405,-0.002809
AirTime,NaN,0.000860,-0.341250,1.000000,-0.000189,0.980294,NaN,NaN,0.019547,-0.018325,0.062793,0.007155
ArrDelay,NaN,-0.000897,0.061266,-0.000189,1.000000,-0.029853,NaN,NaN,0.501773,0.264624,0.387606,-0.002488
Distance,NaN,0.005498,-0.356770,0.980294,-0.029853,1.000000,-0.005060,0.021692,0.028443,-0.023819,0.018109,0.007029
Cancelled,NaN,0.028837,0.009147,NaN,NaN,-0.005060,1.000000,-0.001146,NaN,NaN,NaN,NaN
Diverted,NaN,0.006467,-0.002885,NaN,NaN,0.021692,-0.001146,1.000000,NaN,NaN,NaN,NaN
CarrierDelay,NaN,0.000420,0.055712,0.019547,0.501773,0.028443,NaN,NaN,1.000000,-0.068951,-0.119534,-0.018537
WeatherDelay,NaN,0.006611,0.067488,-0.018325,0.264624,-0.023819,NaN,NaN,-0.068951,1.000000,-0.002553,-0.007511
NASDelay,NaN,0.011441,0.015405,0.062793,0.387606,0.018109,NaN,NaN,-0.119534,-0.002553,1.000000,-0.011723
SecurityDelay,NaN,-0.003066,-0.002809,0.007155,-0.002488,0.007029,NaN,NaN,-0.018537,-0.007511,-0.011723,1.000000

#### Troba quantes dades faltants hi ha per columna

In [18]:
air_nan_df = pd.DataFrame(air_redu_df.isna().sum())
# Percentage of NaN by Column of the total of NaN
air_nan_df["%"] = round(((air_redu_df.isna().sum())*100)/(air_nan_df.sum()[0]),2)
air_nan_df

                    0      %
Year                0   0.00
Month               0   0.00
UniqueCarrier       0   0.00
FlightNum           0   0.00
AirTime          8387   0.30
ArrDelay         8387   0.30
Origin              0   0.00
Dest                0   0.00
Distance            0   0.00
Cancelled           0   0.00
Diverted            0   0.00
CarrierDelay   689270  24.85
WeatherDelay   689270  24.85
NASDelay       689270  24.85
SecurityDelay  689270  24.85

#### Crea columnes noves (velocitat mitjana del vol, si ha arribat tard o no...)

In [8]:
# Velocitat Mitjana Miles/min
air_redu_nc_df = air_redu_df.assign(Mean_Speed = air_redu_df['Distance'] / air_redu_df['AirTime'])
# YES OR NO DELAY
air_redu_nc_df['DelayYN'] = np.where(air_redu_df['ArrDelay']>0, 1,0)
air_redu_nc_df = pd.DataFrame(air_redu_nc_df)
print (air_redu_nc_df)
#print (type(air_redu_nc_df))

         Year  Month UniqueCarrier  FlightNum  AirTime  ArrDelay Origin Dest  \
0        2008      1            WN        335    116.0     -14.0    IAD  TPA
1        2008      1            WN       3231    113.0       2.0    IAD  TPA
2        2008      1            WN        448     76.0      14.0    IND  BWI
3        2008      1            WN       3920     77.0      34.0    IND  BWI
4        2008      1            WN        378     87.0      11.0    IND  JAX
...       ...    ...           ...        ...      ...       ...    ...  ...
1936753  2008     12            DL       1621    120.0      25.0    MSP  ATL
1936754  2008     12            DL       1631     78.0      75.0    RIC  ATL
1936755  2008     12            DL       1631    122.0      99.0    ATL  IAH
1936756  2008     12            DL       1639     89.0       9.0    IAD  ATL
1936757  2008     12            DL       1641    104.0      -5.0    SAT  ATL

         Distance  Cancelled  Diverted  CarrierDelay  WeatherDelay  NASDelay  \
0             810          0         0           NaN           NaN       NaN
1             810          0         0           NaN           NaN       NaN
2             515          0         0           NaN           NaN       NaN
3             515          0         0           2.0           0.0       0.0
4             688          0         0           NaN           NaN       NaN
...           ...        ...       ...           ...           ...       ...
1936753       906          0         0           3.0           0.0       0.0
1936754       481          0         0           0.0          57.0      18.0
1936755       689          0         0           1.0           0.0      19.0
1936756       533          0         0           NaN           NaN       NaN
1936757       874          0         0           NaN           NaN       NaN

         SecurityDelay  Mean_Speed  DelayYN
0                  NaN    6.982759        0
1                  NaN    7.168142        1
2                  NaN    6.776316        1
3                  0.0    6.688312        1
4                  NaN    7.908046        1
...                ...         ...      ...
1936753            0.0    7.550000        1
1936754            0.0    6.166667        1
1936755            0.0    5.647541        1
1936756            NaN    5.988764        1
1936757            NaN    8.403846        0

[1936758 rows x 17 columns]

#### Taula de les aerolínies amb més endarreriments acumulats

In [9]:
# Calcul del numero de files que conte cada Companyia Aerea
df=pd.DataFrame(air_redu_nc_df["UniqueCarrier"].value_counts())
df
#print(type(df))

    UniqueCarrier
WN         377602
AA         191865
MQ         141920
UA         141426
OO         132433
DL         114238
XE         103663
CO         100195
US          98425
EV          81877
NW          79108
FL          71284
YV          67063
B6          55315
OH          52657
9E          51885
AS          39293
F9          28269
HA           7490
AQ            750

In [10]:
delay_carrier_df = (air_redu_nc_df.groupby(by = ["UniqueCarrier"]).sum()['ArrDelay'])/60
delay_carrier_df = pd.DataFrame(delay_carrier_df.sort_values(axis=0,ascending=False))
delay_carrier5_df = pd.DataFrame(delay_carrier_df[:5])
#print(type(delay_carrier5_df))

print("Les 5 primeras companyies amb una mayor acumulació de retards en HORES\nen el an 2008 són: \n ")
round(delay_carrier5_df,1)

Les 5 primeras companyies amb una mayor acumulació de retards en HORES
en el an 2008 són:

               ArrDelay
UniqueCarrier
WN             188651.5
AA             148151.1
UA             112216.9
MQ             106611.7
OO              99648.9

#### Quins són els vols més llargs?

In [11]:
#Els vols mes llargs són:
air_redu_nc_UFD = air_redu_nc_df[['UniqueCarrier','FlightNum','Distance']]
# print (air_redu_nc_UFD.sort_values(by=['Distance'], axis=0, ascending=False))
air_redu_nc_mll = air_redu_nc_UFD.groupby(['UniqueCarrier','Distance']).count().sort_values(by=['Distance'],ascending=False).head(6)
air_redu_nc_mll

                        FlightNum
UniqueCarrier Distance
CO            4962            324
DL            4502            466
AA            4243            143
UA            4243            159
              4213             48
              4184             74

#### I els més endarrerits?

In [12]:
#Els vols mes enraderits són:
air_redu_nc_UFA = air_redu_nc_df[['UniqueCarrier','FlightNum','ArrDelay']]
#print (air_redu_nc_UFA.sort_values(by=['ArrDelay'], axis=0, ascending=False))
air_redu_nc_Mde = air_redu_nc_UFA.groupby(['UniqueCarrier','ArrDelay']).count().sort_values(by=['ArrDelay'],ascending=False).head(6)
air_redu_nc_Mde

                        FlightNum
UniqueCarrier ArrDelay
NW            2461.0            1
              2453.0            1
              1951.0            1
MQ            1707.0            1
NW            1655.0            1
              1583.0            1

### Exercici 3
* Exporta el data set net i amb les noves columnes a Excel.

In [17]:
# Ja que el Excel no em deixa grabar un fitxer ambn tantes entrades, creare un DF mes petit
# amb una seleccio aleatoria de les files.
import random
sample_df = air_redu_nc_df.sample(frac=0.1, random_state=1)
sample_df.info

<bound method DataFrame.info of          Year  Month UniqueCarrier  FlightNum  AirTime  ArrDelay Origin Dest  \
1750755  2008     12            WN       3858     49.0       6.0    CLE  BWI
1074983  2008      6            CO        268    316.0      18.0    EWR  LAS
46126    2008      1            YV       7343     54.0      63.0    ORD  BNA
327441   2008      2            9E       2927     80.0      37.0    ORF  DTW
1363177  2008      8            FL        301    178.0      30.0    ATL  DEN
...       ...    ...           ...        ...      ...       ...    ...  ...
1644073  2008     11            WN       2821     49.0      24.0    PDX  BOI
919794   2008      6            XE        407    165.0       7.0    SAN  OMA
956479   2008      6            OO       6041     41.0      10.0    GJT  DEN
1675516  2008     11            US       1551    255.0      12.0    PIT  PHX
1786489  2008     12            YV       2979     22.0      18.0    PHX  TUS

         Distance  Cancelled  Diverted  CarrierDelay  WeatherDelay  NASDelay  \
1750755       314          0         0           NaN           NaN       NaN
1074983      2227          0         0          11.0           0.0       7.0
46126         409          0         0          63.0           0.0       0.0
327441        529          0         0           0.0           0.0       0.0
1363177      1199          0         0          13.0           0.0      17.0
...           ...        ...       ...           ...           ...       ...
1644073       344          0         0           7.0           0.0       0.0
919794       1313          0         0           NaN           NaN       NaN
956479        212          0         0           NaN           NaN       NaN
1675516      1813          0         0           NaN           NaN       NaN
1786489       110          0         0          18.0           0.0       0.0

         SecurityDelay  Mean_Speed  DelayYN
1750755            NaN    6.408163        1
1074983            0.0    7.047468        1
46126              0.0    7.574074        1
327441             0.0    6.612500        1
1363177            0.0    6.735955        1
...                ...         ...      ...
1644073            0.0    7.020408        1
919794             NaN    7.957576        1
956479             NaN    5.170732        1
1675516            NaN    7.109804        1
1786489            0.0    5.000000        1

[193676 rows x 17 columns]>

In [18]:
with pd.ExcelWriter('air_df_Modificat.xlsx') as writer:  
    sample_df.to_excel(writer, sheet_name='New Columns')
    delay_carrier5_df.to_excel(writer, sheet_name='Mayor acum Delays')
    air_redu_nc_mll.to_excel(writer, sheet_name='Mayor Distance')
    air_redu_nc_Mde.to_excel(writer, sheet_name='Mayor Delays')